.nav{
    background-color: grey;
    padding-top: 5px;
}

.a{
    color: white;
    text-decoration: none;
    margin-left: 70px;
}
.b{
    text-decoration: none;
}

.c{
    padding-left: 42%;
    padding-top: 3%;
}
